# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
dispatchServer

# Test binary, built with `go test -c`
*.test
test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# dotenv environment variables file
.env*
!.env.sample*
certs/*
!certs/.gitkeep 

# Dependency directories (remove the comment below to include it)
vendor/

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
.vscode
.devcontainer

#golang playground file for normal feature testing
playground